/* src/theme/variables.css */
:root {
    --theme-primary: #10c0d2;
    --theme-primary-rgb: 16, 192, 210;
    --theme-primary-darken: #3db5c2;

    /** primary **/
    --ion-color-primary: var(--theme-primary);
    --ion-color-primary-rgb: var(--theme-primary-rgb);
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: var(--theme-primary-darken);
    --ion-color-primary-tint: var(--theme-primary);

    --ion-color-primary-text: var(--theme-textPrimary)
}
